@import url(http://fonts.googleapis.com/css?family=Roboto);


* {
  font-family: 'Roboto', sans-serif !important;
}

text {
  font-size: 11px;
  fill: rgb(89,89,89);
}

.label{
  font-size: 20px;
  fill: rgb(89,89,89);
}

.x.axis path {
  stroke: none;
}

.axis path,
.axis line {
  shape-rendering: crispEdges;
  stroke: rgb(89,89,89);
  fill: none;
}

.mega-container {
    margin: 50px;
}

#paginate-btns {
    font-size: 18px;
    color: rgb(30,30,30);
}

#paginate-btns > button {
    float: right;
}

#Average {
    fill: tomato;
}

/* D3 TIP Styles for mega */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}