text {
    font-size: 10px;
    fill: rgb(89,89,89);
}


.label{
font-family: "ProximaNovaCondSbold","Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
font-size: 20px;
fill: rgb(89,89,89);
}
.axis path,
.axis line {shape-rendering: crispEdges;}

.mega-container {
    margin: 50px;
}

#paginate-btns {
    font-family: "ProximaNovaCondReg","Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 18px;
    color: rgb(30,30,30);
}

#paginate-btns > button {
    float: right;
}

#title {font-family: "ProximaNovaCondBold","Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;font-size: 23px;}

#Average {
    fill: tomato;
}