@import url(http://fonts.googleapis.com/css?family=Roboto);


* {
  font-family: 'Roboto', sans-serif !important;
}

text {
  font-size: 11px;
  fill: rgb(89,89,89);
}

.label{
  font-size: 20px;
  fill: rgb(89,89,89);
}

.x.axis path {
  stroke: none;
}

.axis path,
.axis line {
  shape-rendering: crispEdges;
  stroke: rgb(89,89,89);
  fill: none;
}

.mega-container {
    margin: 50px;
}

#paginate-btns {
    font-size: 18px;
    color: rgb(30,30,30);
}

#paginate-btns > button {
    float: right;
}

#Average {
    fill: tomato;
}