@import url(../style.css?aea6f0a);
@import url(http://fonts.googleapis.com/css?family=Roboto);


* {
  font-family: 'Roboto', sans-serif !important;
}

#searchMenu {
  display: inline-block;
}

#sankey-chart {
  margin-left: -40px;
  height: 506px;
  width: 100%;
}

#accord {
  max-width: 80%;
  margin-top: 50px;
}


text {
  font: 10px sans-serif;
}

#mouse-tip {
  text-align: right;
  margin: 20px 200px 20px 0;
}

.dot {
  stroke: #000;
}

.axis path, 
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.searched {
  fill: red;
}

.dropdown a {
  cursor: pointer;
  margin-top: 0.5em;
}

/* LINKS.HTML */

.city path {
  fill: none;
  stroke-width: 0.2em;
}

.city text {
  font-size: 0.8em;
}

.city path:hover {
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 0.6em;

}

#line-chart {
  position: relative;
}

#line-chart .x path.domain {
  display: none;
}

.node rect {
  cursor: move;
  fill-opacity: .8;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 1px 1px 1px #fff;
  font-size: 0.75em;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .1;
}
 
.link:hover {
  stroke-opacity: .5;
}

.panel-title:hover  { 
  cursor: pointer; 
} 

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}