@import url(../style.css?aea6f0a);

#searchMenu {
  display: inline-block;
}

#chart {
  margin-left: -40px;
  height: 506px;
  width: 100%;
}

#accord {
  max-width: 80%;
  margin-top: 50px;
}


text {
  font: 10px sans-serif;
}

#tip {
  text-align: right;
  margin: 20px 200px 20px 0;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

#adopted {
  font-size: 0.7em;
}

.searched {
  fill: red;
}

/* LINKS.HTML */

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
.link:hover {
  stroke-opacity: .5;
}